In [2]:
import pandas as pd
import numpy as np
import vtk
from vtk.util import numpy_support
import pandasql as ps

In [3]:
df = pd.read_csv('data_365days.txt', sep='|')

In [126]:
df_copy = df.copy()

In [127]:
df_copy=df_copy.rename(columns={"#EventID": "ID"})

In [131]:
df_copy=ps.sqldf("select COUNT(ID), Latitude, Longitude, EventLocationName from df_copy group by EventLocationName")
df_copy=df_copy.rename(columns={"COUNT(ID)": "Count"})

In [133]:
df_filter = df_copy[df_copy.Count > 10]

In [134]:
df_filter

,Count,Latitude,Longitude,EventLocationName
20,12,43.0385,13.099000,1 km E Fiordimonte (MC)
42,15,42.7907,13.111700,1 km E Norcia (PG)
65,18,42.7363,12.745700,1 km E Spoleto (PG)
173,19,42.7443,12.749500,1 km NE Spoleto (PG)
198,32,43.3653,12.571800,1 km NW Gubbio (PG)
...,...,...,...,...
3926,25,35.9132,15.257500,Mar Ionio Meridionale (MARE)
3963,30,37.8413,15.530500,"Stretto di Messina (Reggio di Calabria, Messina)"
3964,12,46.6413,9.944800,Svizzera (SVIZZERA)
3967,93,38.8910,15.583200,Tirreno Meridionale (MARE)
3975,57,40.8185,14.431667,Vesuvio

In [20]:
df_group2=df[['#EventID', 'Time', 'Latitude', 'Longitude', 'Depth/Km', 'Author',
       'Catalog', 'Contributor', 'ContributorID', 'MagType', 'Magnitude',
       'MagAuthor', 'EventLocationName', 'EventType']].groupby(['col1', 'col2']).agg(['mean', 'count'])

      Latitude  Longitude  counts
0      35.1605    13.1528       1
1      35.6738    17.1488       1
2      35.8058    12.5510       1
3      35.9132    15.2575       1
4      36.0867    12.4845       1
...        ...        ...     ...
9975   47.6313     8.9463       1
9976   47.6938     8.8422       1
9977   47.6978     8.9562       1
9978   47.7187    16.1435       1
9979   47.8193    16.2533       1

[9980 rows x 3 columns]

,#EventID,Time,Latitude,Longitude,Depth/Km,Author,Catalog,Contributor,ContributorID,MagType,Magnitude,MagAuthor,EventType
,count,count,count,count,count,count,count,count,count,count,count,count,count
EventLocationName,,,,,,,,,,,,,
1 km E Accumoli (RI),4,4,4,4,4,4,0,0,0,4,4,4,4
1 km E Adrara San Martino (BG),1,1,1,1,1,1,0,0,0,1,1,1,1
1 km E Airola (BN),1,1,1,1,1,1,0,0,0,1,1,1,1
1 km E Amatrice (RI),2,2,2,2,2,2,0,0,0,2,2,2,2
1 km E Aquino (FR),1,1,1,1,1,1,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"V3 Tarvisio (ITALIA, AUSTRIA, SLOVENIA)",3,3,3,3,3,3,0,0,0,3,3,3,3
Vesuvio,57,57,57,57,57,57,0,0,0,57,57,57,57
Viagrande (CT),1,1,1,1,1,1,0,0,0,1,1,1,1
Visso (MC),1,1,1,1,1,1,0,0,0,1,1,1,1
Zuccarello (SV),1,1,1,1,1,1,0,0,0,1,1,1,1

In [11]:
def readPoints_magnitude_scale(file, sep="|", depth_scaling=0.01, time_shift=-1467247524, magnitude_scaling=0):
    df = pd.read_csv(file, sep=sep)
    
    if magnitude_scaling != 0:
        df = df[df.apply(lambda x: x["Magnitude"] > magnitude_scaling, axis=1)]
    
    df[['Latitude', 'Longitude']]=df[['Latitude', 'Longitude']].clip(lower=0,upper=360)
    df['NewDepth']=df['Depth/Km']*depth_scaling
    df["NewTime"]= pd.to_datetime(df['Time']).values.astype(np.int64) // 10 ** 6

    points=df[['Latitude', 'Longitude', 'NewDepth']].to_numpy()
    times=df["NewTime"].to_numpy()+time_shift
    scalars=df["Magnitude"].to_numpy()
    depth=df["NewDepth"].to_numpy()

    p = vtk.vtkPoints()
    print(points.shape)
    print(points.shape[0])
    
    for i in range(points.shape[0]):
        print(points[i,:])
    
    """
    for i in range(points.shape[0]):
        p.InsertNextPoint(points[i,:])
    s = numpy_support.numpy_to_vtk(scalars)
    t = numpy_support.numpy_to_vtk(times)
    d = numpy_support.numpy_to_vtk(depth)

    return p,s,t,d
    """

In [12]:
readPoints_magnitude_scale(file="data_90days.txt", sep="|", depth_scaling=0.01, time_shift=-1467247524, magnitude_scaling=4)

(14, 3)
14
[42.6983 13.2335  0.081 ]
[42.7123 13.2533  0.09  ]
[42.6138 13.275   0.048 ]
[42.7935 13.1537  0.087 ]
[42.6168 13.2453  0.106 ]
[42.7692 13.1247  0.076 ]
[42.8188 13.1463  0.084 ]
[42.6628 13.2222  0.1   ]
[42.7527 13.2082  0.095 ]
[42.5957 13.2902  0.1   ]
[42.6003 13.2895  0.109 ]
[42.8198 13.2382  0.087 ]
[42.7753 13.13    0.106 ]
[42.8657 13.2145  0.093 ]

In [ ]:
def readPoints_earthquake_occurences(file, sep="|", quake_number=1):
    df = pd.read_csv(file, sep=sep)

    #NECESSARY OPERATIONS FOR FILTERING
    df_copy = df.copy()
    df_copy=df_copy.rename(columns={"#EventID": "ID"})
    df_copy=ps.sqldf("select COUNT(ID), Latitude, Longitude, EventLocationName from df_copy group by EventLocationName")
    df_copy=df_copy.rename(columns={"COUNT(ID)": "Count"})

    df_filter = df_copy[df_copy.Count > quake_number]

    df_filter[['Latitude', 'Longitude']]=df_filter[['Latitude', 'Longitude']].clip(lower=0,upper=360)
    

    points=df_filter[['Latitude', 'Longitude']].to_numpy()
    scalars = df_filter["Count"].to_numpy()

    p = vtk.vtkPoints()
    print(points.shape)

    """
    for i in range(points.shape[0]):
        #p.InsertNextPoint(points[i,:])


        
    s = numpy_support.numpy_to_vtk(scalars)

    return p,s
    
    """